body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e6e3e9;
}


a {
 text-decoration: none;
 color: rgb(99, 99, 99);
}

a:hover{
    color: rgb(22, 22, 129);
}

h1{
    text-align: center;
    font-size: 40px;
}
h2{
    font-size: 28px;
    margin: 0;
   
}
footer{
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

select{
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}

.container{
    background-color: rgb(255, 252, 252);
    max-width: 600px;
    margin: 60px auto;
    padding: 40px 70px 20px 70px;
    border: 1px solid rgb(170, 169, 169);
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111,0.2) 0px 7px 29px 0px;
    
}

.date{
    opacity: 0.6;
}

.city{
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
    border-bottom: 1px dashed grey;
    padding: 20px 0;
}

.city:last-child {
    border: none;
}

.time{
    font-size: 40px;
    font-weight: bold;
}

.time small{
    font-size: 18px;
    vertical-align: middle;
    line-break: 36px;
}